<div class="body">
<div class="container">
  <div class="row">
  <div class="top-message col-md-offset-3 col-md-6">
　　<h1>Welcome to <span class="glyphicon glyphicon-book"></span>
	<strong>Bookers</strong>!</h1>
  </div>
  </div>
</div>
</div>
